
body {
  background-image: url("https://wallpaperaccess.com/full/4274910.png");
  background-size: cover;
}

.block{
  background-color: #ffffff;
  border-style: solid;
  border-color: #000000;
  border-radius: 5px;
  margin-left: 180px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* The sidebar menu */
.sidenav {
  background: url("https://ww1.prweb.com/prfiles/2014/06/10/11932378/irs_logo.jpg") no-repeat;
  background-position: center;
  background-position: top;
  background-size: 150px;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 180px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 150px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* Container holding the image and the text */
.container {
 position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
