body {
	background-image: url("https://media2.giphy.com/media/T1zgJ7cp8tWla/giphy.gif?cid=ecf05e47sdwa6s6egl0q0t8yx5b4g0rfpax9dd24a8trzxxx&rid=giphy.gif&ct=g");
	height: 100%;
	width: 100%;
}

/*Navigation menu*/
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 180px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.block {
  background-color: #ffffff;
  border-style: solid;
  border-radius: 5px;
  border-color: #000000;
}
